body{
  margin: 0;
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-repeat: no-repeat;
  background-color: #FFF9F7;
}

header{
  position: relative;
}

h1{
  color: #FA8B8E;
  font-weight: 400;
  font-size: 8rem;
  position: relative;
  bottom: 8rem;
  margin: auto;
}

h2{
  color: #FA8B8E;
  font-weight: 400;
  font-size: 3rem;
}

select{
  font-size: 3rem;
  border-radius: .5rem;
  border: solid;
  border-width: thick;
  border-color: #FA8B8E;
}


footer{
  transform: scaleY(-1);
}

.watercolor{
  width: 90%
}
.table{
  width: 70%;
  margin:auto;
  border-radius: .5em;
  font-size: 1.5rem;
}

.table-head{
  background-color: #FA8B8E;
  font-size: 1.75rem;
  color:white;
}

.my-balance{
  position: relative;
  bottom: 7rem;
  margin:auto;
  font-size: 6rem;
  border: solid;
  border-width: thick;
  border-color: #FA8B8E;
  border-radius: .1em;
  width: 40%;
}

.btn-outline-primary{
  margin: 2rem;
  width: 400px;
  border: solid;
  border-width: thick;
  border-color: #FA8B8E;
  background-color: white;
  font-weight: 700;
  font-size: 2rem;
  color:black;
}

.btn-outline-primary:hover{
  border-color: #FA8B8E;
  background-color: #FA8B8E;
}

.edit{
  height:30px;
}

@media (max-width: 1000px){
  h1{
    padding-top: 2rem;
    font-size: 5rem;
  }

  .my-balance{
    font-size: 4rem;
  }
}
